button{
margin:3px
} 

header{
    display: flex;
    justify-content: center;
}

.colored{
    color: palevioletred;
}

.body-cell {
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

.box-style{
display: "flex";
justify-content: center;
align-items: "center";

}